body {
  color: var(--primary-color);
}

.wrapper {
  justify-content: flex-start;
  padding-bottom: 2rem;
}

nav {
  display: flex;
  justify-content: flex-end;
  padding-top: calc(var(--padding-padrao) - 1rem);
}

.btn-close {
  display: block;
  padding: 1.2rem 2rem;
  border: none;
  background: none;
  cursor: pointer;
  width: 3rem;
}

.btn-close::before {
  content: '';
  display: block;
  position: relative;
  width: 4rem;
  height: 0.2rem;
  background-color: var(--suport-color);
  padding-top: 0.1rem;
  left: -2rem;
  transform: rotate(45deg);
}
.btn-close::after {
  content: '';
  display: block;
  position: relative;
  width: 4rem;
  height: 0.2rem;
  background-color: var(--suport-color);
  padding-top: 0.1rem;
  left: -2rem;
  top: -0.4rem;
  transform: rotate(-45deg);
}

#btn-delete {
  width: 100%;
  height: 4rem;
  display: block;
  align-self: center;
  margin-top: 1rem;
  border: none;
  font-size: calc(var(--button-font-size) - 1rem);
  background-color: var(--warning-color);
  color: var(--text-color);
  border-radius: 1px;
}

#detailData {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 1.5rem;
  background-color: #fff;
  padding: 1rem;
  margin-top: 1.5rem;
  border-radius: 5px;
  box-shadow: 0.3rem 0.3rem var(--text-color);
}

.mapDiv {
  width: 100%;
  height: 23rem;
  border-radius: 0.5rem;
  background-color: #808080;
}
.dataInfosDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.cityInfo {
  font-size: calc(var(--cityInfo-font-size) + 1.2rem);
}
.infoDetails {
  font-size: calc(var(--info-font-size) + 1rem);
}
.dateInfo {
  font-size: calc(var(--date-font-size) + 0.2rem);
  align-self: end;
}
.noRecordsDiv {
  align-self: center;
  margin-top: 5rem;
}
