/* imports */
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300&display=swap');

:root {
  font-size: 62.5%;
  --primary-color: #191a19;
  --details-color: #1e5128;
  --suport-color: #4e9f3d;
  --text-color: #d8e9a8;

  --font-family: 'Sora', sans-serif;

  --speedometer-font-size: 14rem;
  --tittle-font-size: 2.3rem;
  --button-font-size: 3rem;
  --timer-font-size: 1.6rem;
  --cityInfo-font-size: 1.2rem;
  --info-font-size: 1rem;
  --date-font-size: 0.8rem;

  --height-speedometer: 25rem;
  --padding-padrao: 5rem;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  background-color: var(--primary-color);
}

.wrapper {
  width: min(50rem, 100%);
  margin-left: auto;
  margin-right: auto;

  padding-inline: 2rem;

  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
