/* imports */
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300&display=swap');

:root {
  font-size: 62.5%;
  --primary-color: #222025;
  --secondary-color: #4e4c52;
  --text-color: #f9eaff;
  --menu-bg: #f5f6fa;
  --suport-color: #00c9a4;
  --suport-color-yellow: #f9f871;

  --font-family: 'Sora', sans-serif;

  --height-speedometer: 25rem;
  --padding-padrao: 5rem;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  background-color: var(--secondary-color);
}

.wrapper {
  width: min(50rem, 100%);
  margin-left: auto;
  margin-right: auto;

  padding-inline: 1rem;
}
