nav {
  display: flex;
  justify-content: flex-end;
  padding-top: var(--padding-padrao);
}

.btn-close {
  display: block;
  padding: 1.2rem 2rem;
  border: none;
  background: none;
  cursor: pointer;
  width: 3rem;
}

.btn-close::before {
  content: '';
  display: block;
  position: relative;
  width: 4rem;
  height: 0.2rem;
  background-color: var(--suport-color);
  padding-top: 0.1rem;
  left: -2rem;
  transform: rotate(45deg);
}
.btn-close::after {
  content: '';
  display: block;
  position: relative;
  width: 4rem;
  height: 0.2rem;
  background-color: var(--suport-color);
  padding-top: 0.1rem;
  left: -2rem;
  top: -0.4rem;
  transform: rotate(-45deg);
}

.speedometer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* padding-block: var(--padding-padrao); */

  /* height: var(--height-speedometer); */
  flex-grow: 1;
  /* ocupar o espaço disponivel */

  color: var(--text-color);
}

.speedometer span {
  font-size: 2rem;
}

#speed {
  font-size: var(--speedometer-font-size);
  /* position: relative; */
}

.timer {
  display: flex;
  justify-content: center;
  color: var(--text-color);
  font-size: var(--timer-font-size);
}

.controls {
  /* padding-top: calc(var(--padding-padrao) - 2rem); */
  padding-block: calc(var(--padding-padrao) - 4rem);
  display: flex;
  justify-content: center;
}

.controls button {
  width: 100%;
  background-color: var(--suport-color);
  color: var(--primary-color);
  height: var(--padding-padrao);
  border: 1px solid var(--suport-color);
  border-radius: 2px;
  font-size: var(--button-font-size);
  text-transform: uppercase;
  overflow: hidden;
}

.controls button:active {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.confirmationBox {
  position: absolute;
  align-self: center;

  z-index: 999;
  padding: 2rem;
  background-color: var(--suport-color);
  text-align: center;
  border-radius: 5px;
  border: 0.1rem solid var(--text-color);
  animation: boxFadeIn 0.5s;
}
.confirmationBox p {
  display: block;
  font-weight: bold;
  font-size: calc(var(--info-font-size) + 0.6rem);
  padding-bottom: 3rem;
}

.confirmationBox button {
  background-color: var(--primary-color);
  border: none;
  padding-block: 1rem;
  padding-inline: 3.5rem;
  color: var(--text-color);
  font-size: calc(var(--info-font-size) + 0.6rem);
  text-transform: uppercase;
}

@keyframes boxFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
