nav {
  display: flex;
  justify-content: flex-end;
  padding-top: var(--padding-padrao);
}

.speedometer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: var(--padding-padrao);

  height: var(--height-speedometer);
}
