nav {
  display: flex;
  justify-content: flex-end;
  padding-top: var(--padding-padrao);
}

.btn-close {
  display: block;
  padding: 1.2rem 2rem;
  border: none;
  background: none;
  cursor: pointer;
  width: 3rem;
}

.btn-close::before {
  content: '';
  display: block;
  position: relative;
  width: 4rem;
  height: 0.2rem;
  background-color: var(--suport-color);
  padding-top: 0.1rem;
  left: -2rem;
  transform: rotate(45deg);
}
.btn-close::after {
  content: '';
  display: block;
  position: relative;
  width: 4rem;
  height: 0.2rem;
  background-color: var(--suport-color);
  padding-top: 0.1rem;
  left: -2rem;
  top: -0.4rem;
  transform: rotate(-45deg);
}

.speedometer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: var(--padding-padrao);

  height: var(--height-speedometer);

  color: var(--text-color);
}
.speedometer span {
  font-size: 2rem;
}

#speed {
  font-size: var(--speedometer-font-size);
}

.timer {
  display: flex;
  justify-content: center;
  color: var(--text-color);
  font-size: var(--timer-font-size);
}

.controls {
  padding-top: calc(var(--padding-padrao) - 2rem);
  display: flex;
  justify-content: center;
}

.controls button {
  width: 100%;
  background-color: var(--suport-color);
  color: var(--primary-color);
  height: var(--padding-padrao);
  border: none;
  border-radius: 2px;
  font-size: var(--button-font-size);
  text-transform: uppercase;
  overflow: hidden;
}
